<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title mode=ios>
      Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.fromName }}
        <span class="date">
          <ion-note>{{ message.date }}</ion-note>
        </span>
      </h2>
      <h3>To: <ion-note>Me</ion-note>
      </h3>
    </ion-label>
  </ion-item>

  <div class="ion-padding">
    <h1>{{ message.subject }}</h1>
    <p>
      Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away.
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" [routerLink]="'/reply/' +id">
      <ion-icon slot="start" name="chatbubbles"></ion-icon>
      Reply
    </ion-button>
  </ion-toolbar>
</ion-footer>